<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Smile\Users\Api\RepositoryInterface" type="Smile\Users\Model\RepositoryModel" />
    <preference for="Smile\Users\Api\Data\BlockSearchResultsInterface" type="Smile\Users\Api\SearchResults" />
    <preference for="Smile\Users\Api\Data\UserInterface" type="Smile\Users\Model\Users" />
    <preference for="Smile\Users\Api\Data\BlockInterface" type="Smile\Users\Model\Block" />
</config>