<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Smile_Blog::blog_menu" title="Blog">
                    <resource id="Smile_Blog::blog" title="Blog" translate="title" sortOrder="10">
                        <resource id="Smile_Blog::categories" title="Categories" translate="title" sortOrder="10" />
                        <resource id="Smile_Blog::posts" title="Posts" translate="title" sortOrder="20" />
                        <resource id="Smile_Blog::coments" title="Coments" translate="title" sortOrder="30" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
