<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Smile\Logtest\Api\RepositoryInterface" type="Smile\Logtest\Model\RepositoryModel" />
    <preference for="Smile\Logtest\Api\Data\UserInterface" type="Smile\Logtest\Model\Users" />
    <preference for="Smile\Logtest\Api\Data\BlockSearchResultsInterface" type="Smile\Logtest\Model\User\Users" />
</config>